fastapi
uvicorn[standard]
langchain
langchain-community
langchain_core
langchain_openai
langchain-mongodb 
pymongo
python-multipart
openai
chromadb
IPython
pydub 
duckduckgo-search 
pymongo 
langgraph-checkpoint-mongodb
langgraph-store-mongodb
websockets
motor
ddgs
youtube_search
googlemaps
langchain-google-community
googlemaps